<nav id="nav-desktop"  [style]="'color:'+textColor()">
  <span class="blur nav-background">

  </span>
  <ul id="nav-main">
    <li class="nav-option">
    <span id="nav-logo">
      PC
    </span>
    <app-nav-dropdown [options]="LOGO_OPTIONS"></app-nav-dropdown>
    </li>
    <li class="nav-option">
      <span class="bold">
        PuertaCordoba
      </span>
<!--      <ul class="nav-dropdown">-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
    <li class="nav-option">
      <span>
        File
      </span>
<!--      <ul class="nav-dropdown">-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
  </ul>
  <ul id="nav-right">
    <li>
      <span>
        {{localDate()}}
      </span>
    </li>
  </ul>
</nav>
