.nav{
  height: 37px;
  opacity: 0.9;
}

#desktop-nav {
  border-radius: 15px 15px 0 0;
  display: flex;
  backdrop-filter: blur(20px);
  //color: rgb(255, 255, 255);
  ul {
    //background-color: blue;
    display: flex;
    height: 100%;

    &:first-of-type {
      li{
        &:first-of-type {
          span{
            padding-left: 10px;
            font-weight: bold;
            font-size: 16px;
            font-family: GreatVives, sans-serif;
          }
        }
      }
    }

    &:last-of-type {
      margin-left: auto;
      li{
        &:last-of-type {
          padding-right: 15px;
        }
      }
    }

    li{
      padding: 0 10px 0 10px;
      text-align: center;
      line-height: 37px;
      &:nth-of-type(2) {
        font-weight: 1000;
      }
    }
  }
}
