<nav id="nav-desktop"  [style]="'color:'+textColor">
  <span class="blur">

  </span>
  <ul id="nav-main">
    <li class="nav-option">
    <span id="nav-logo">
      PC
    </span>
      <ul class="nav-dropdown">
        <li>
          <a href="#">
            About this page
          </a>
        </li>
        <li>
          <a href="#">
            Settings
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-option">
      <span class="bold">
        PuertaCordoba
      </span>
<!--      <ul class="nav-dropdown">-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
    <li class="nav-option">
      <span>
        File
      </span>
<!--      <ul class="nav-dropdown">-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span>-->
<!--            test-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
  </ul>
  <ul id="nav-right">
    <li>
      <span>
        {{localDate}}
      </span>
    </li>
  </ul>
</nav>
