<ul id="figures">
  <li>
    <span class="figuresGrey"><</span><span class="figuresDarkBlue">router-outlet</span><span
    class="figuresGrey">></span>
  </li>
  <li>
    <p><span class="figuresPink"> import</span> <span class="figuresYellow">&#123;</span> <span class="figuresBlue">NgModule</span>
      <span class="figuresYellow">&#125;</span> <span class="figuresPink">from</span> <span class="figuresOrange">'&#64;angular/core'</span>;
    </p>
    <p><span class="figuresPink"> import</span> <span class="figuresYellow">&#123;</span> <span class="figuresBlue">BrowserModule</span>
      <span class="figuresYellow">&#125;</span> <span class="figuresPink">from</span> <span class="figuresOrange">'&#64;angular/platform-browser'</span>;
    </p>
    <p><span class="figuresPink"> import</span> <span class="figuresYellow">&#123;</span> <span class="figuresBlue">AppRoutingModule</span>
      <span class="figuresYellow">&#125;</span> <span class="figuresPink">from</span> <span class="figuresOrange">'./app-routing.module</span>;
    </p>
    <p><span class="figuresPink"> import</span> <span class="figuresYellow">&#123;</span> <span class="figuresBlue">AppComponent</span>
      <span class="figuresYellow">&#125;</span> <span class="figuresPink">from</span> <span class="figuresOrange">'./app.component'</span>;
    </p>
  </li>
  <li>
    <p>&#64;<span class="figuresGreen">Component</span><span class="figuresYellow">(</span><span class="figuresPink">&#123;</span>
    </p>
    <p style="padding-left: 15px;"><span class="figuresBlue">selector: </span><span
      class="figuresOrange">'app-root'</span>,</p>
    <p style="padding-left: 15px;"><span class="figuresBlue">templateUrl:</span><span class="figuresOrange">'./app.component.html'</span>,
    </p>
    <p style="padding-left: 15px;"><span class="figuresBlue">styleUrls:[<span class="figuresOrange">'./app.component.css'</span>]</span>
    </p>
    <p><span class="figuresPink">&#125;</span><span class="figuresYellow">)</span></p>
  </li>
  <li>
    <p><span class="figuresPink">export</span><span class="figuresDarkBlue"> class</span><span class="figuresGreen"> AppComponent </span>
      <span class="figuresYellow">&#123;</span></p>
    <p><span class="figuresBlue">title</span> = <span class="figuresOrange">'portfolio'</span>;</p>
    <p><span class="figuresYellow">&#125;</span></p>
  </li>
  <li>
    <span class="figuresPink">export </span> <span class="figuresDarkBlue"> class</span> <span class="figuresGreen"> AppModule</span><span
    class="figuresYellow">&#123; &#125;</span>
  </li>
  <li>
    <p> &#64;<span class="figuresGreen">NgModule</span><span class="figuresYellow">(</span><span class="figuresPink">&#123;</span>
    </p>
    <p style="padding-left: 15px;"><span class="figuresBlue"> declarations: [</span></p>
    <p style="padding-left: 30px;"><span class="figuresGreen">AppComponent</span></p>
    <p style="padding-left: 15px;"><span class="figuresBlue">]</span>,</p>
    <p><span class="figuresBlue">imports: [</span></p>
    <p style="padding-left: 15px;"><span class="figuresGreen"> BrowserModule</span>,</p>
    <p style="padding-left: 15px;"><span class="figuresGreen"> AppRoutingModule</span></p>
    <p><span class="figuresBlue">]</span>,</p>
    <p><span class="figuresBlue">providers: []</span>,</p>
    <p><span class="figuresBlue">   bootstrap: [<span class="figuresGreen">AppComponent</span>]</span></p>
    <p><span class="figuresPink">&#125;</span><span class="figuresYellow">)</span></p>
  </li>
  <li>
    <p><span class="figuresPink">import </span><span class="figuresYellow">&#123; <span
      class="figuresBlue">Component</span> &#125; <span class="figuresPink">from</span> <span class="figuresOrange">'&#64;angular/core'</span></span>;
    </p>
  </li>
  <li>
    <p><span class="figuresLightYellow">describe</span><span class="figuresYellow">(</span><span class="figuresOrange">'AppComponent'</span>,
      <span class="figuresPink">() <span class="figuresDarkBlue"> => </span>&#123;</span></p>
    <p style="padding-left: 15px;"><span class="figuresLightYellow">beforeEach</span><span
      class="figuresBlue">(</span><span class="figuresDarkBlue">async <span class="figuresYellow">()</span> => <span
      class="figuresYellow">&#123;</span></span></p>
    <p style="padding-left: 30px;"><span class="figuresPink">await </span> <span
      class="figuresGreen">TestBed</span>.<span class="figuresLightYellow">configureTestingModule</span> <span
      class="figuresPink">(</span><span class="figuresBlue">&#123;</span></p>
  </li>
  <li>
    <p>&#64;<span class="figuresGreen">NgModule</span><span class="figuresYellow">(</span><span class="figuresPink">&#123;</span>
    </p>
    <p style="padding-left: 15px;"><span class="figuresBlue">imports: [</span><span
      class="figuresGreen">RouterModule</span>.<span class="figuresLightYellow">forRoot</span><span
      class="figuresYellow">(<span class="figuresDarkBlue">routes</span>)</span><span class="figuresBlue">]</span>,</p>
    <p style="padding-left: 15px;"><span class="figuresBlue">exports: [<span
      class="figuresGreen">RouterModule</span>]</span></p>
    <p><span class="figuresPink">&#125;</span><span class="figuresYellow"></span>)</p>
  </li>
  <li><p><span class="figuresGrey">Complexity is 5 Everything is cool!</span></p></li>
</ul>
