#wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1000;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

// wallpapers

.code {
  background-color: #1E1F22;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 13px;

  li {
    position: absolute;
    display: block;
    list-style: none;
    color: #d4d4d4;

    animation: animateFigures 25s linear infinite;
    bottom: -150px;
    &:first-child{
      left: 25%;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      left: 0;

      animation-delay: 2s;
      animation-duration: 12s;
    }
    &:nth-child(3) {
      left: 65%;

      animation-delay: 4s;
    }
    &:nth-child(4) {
      left: 40%;

      animation-delay: 0s;
      animation-duration: 18s;
    }
    &:nth-child(5) {
      left: 65%;

      animation-delay: 0s;
    }
    &:nth-child(6) {
      left: 85%;

      animation-delay: 0s;
      animation-duration: 20s;
    }
    &:nth-child(7) {
      left: 35%;

      animation-delay: 7s;
    }
    &:nth-child(8) {
      left: 50%;

      animation-delay: 15s;
      animation-duration: 45s;
    }
    &:nth-child(9) {
      left: 20%;

      animation-delay: 2s;
      animation-duration: 35s;
    }
    &:nth-child(10) {
      left: 79%;

      animation-delay: 0s;
      animation-duration: 11s;
    }
  }

  .figuresPink {
    color: #c586c0;
  }

  .figuresYellow {
    color: #ffd700;
  }

  .figuresBlue {
    color: #9cdcfe;
  }

  .figuresOrange {
    color: #ce9178;
  }

  .figuresGreen {
    color: #4ec9b0;
  }

  .figuresDarkBlue {
    color: #569cd6;
  }

  .figuresGrey {
    color: #808080;
  }

  .figuresLightYellow {
    color: #dcdcaa;
  }


}
.lake {
  background-image: url("../../../../assets/wallpapper/lake.png");
  * {
    display: none;
  }
}
.mountain {
  background-image: url("../../../../assets/wallpapper/mountain.png");
  * {
    display: none;
  }
}
.folklore {
  background-image: url("../../../../assets/wallpapper/folklore.png");
  * {
    display: none;
  }
}

  .castle {
    background-image: url("../../../../assets/wallpapper/bojnice.png");
    * {
      display: none;
    }

}

.night {
  background-image: url("../../../../assets/wallpapper/night.png");
  * {
    display: none;
  }
}

.bratislava {
  background-image: url("../../../../assets/wallpapper/bratislava.png");
  * {
    display: none;
  }
}

//code show animation

@keyframes animateFigures {
  0% {
   top: 0;
  }

  100% {
  top: 100%;
  }
}

