#page-holder{
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(20px) brightness(70%);
  border: 1px solid rgb(110, 110, 110);
}
#background {
  position: absolute;
  z-index: -100;
  background-color: rgb(77, 77, 77);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}
#content{
  text-align: center;
  color: rgb(233,233,233);
  padding: 30px 60px;
}
#little{
  font-size: 11px;
 color: rgb(95, 95, 95);
}

.copyright{
  font-size: 11px;
  color: rgb(110, 110, 110);
}

h3{
  text-shadow: 0 0 1px rgb(233,233,233);
  letter-spacing: -1px;
  font-size: 21px;
}

.separator{
  margin-top: 25px;
}
dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5px;
  dt {
    text-align: right;
    text-shadow: 0 0 1px rgb(233,233,233);
    font-size: 12px;
    margin-right: 5px;
  }
  dd{
    text-align: left;
    font-size: 12px;
    color: rgb(160,160,160);
    text-shadow: 0 0 1px rgb(160,160,160);
  }
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#button {
  color: rgb(233,233,233);
  background: rgb(110,110,110);
  padding:10px;
  cursor: default;
  line-height: 20px;
  border-radius: 35%;
  &:active{
    background: rgb(135,135,135);
  }
}
