#page-holder {
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(20px) brightness(70%);
  border: 1px solid rgb(110, 110, 110);
}

#background {
  position: absolute;
  z-index: -100;
  background-color: rgb(77, 77, 77);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
}

li {
  color: rgb(223, 225, 228);
  padding: 0 5px;

  &:nth-child(2) {
    a {
      div {
        padding: 0;
        background-color: rgb(71, 71, 71);

        svg {
          display: block;

        }
      }
    }
  }

  &:nth-child(4) {
    a {
      div {
        background-color: rgb(60, 131, 247);

        svg {
          display: block;

        }
      }
    }
  }

  a {
    cursor: default;
    padding: 2px;
    display: flex;
    border-radius: 5px;

    div {
      padding: 2px;
      border-radius: 5px;
      margin: 1px;
      background-color: rgb(14, 14, 14);

      svg {
        display: block;
        //background-color: rgb(14,14,14);
      }
    }

    span {
      align-content: center;
      display: block;
    }
  }
}

.active {
  background-color: rgb(42, 84, 179);
}


* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}